# .travis.yml
language: node_js
node_js: 
  - "stable"

before_install:
  - npm install mocha -g

install:
  - npm ci

branches:
  only:
    - master
#matrix:
#  allow_failures:
#    - node_js: 0.7

# keep the npm cache around to speed up installs
cache:
  directories:
  - "$HOME/.npm"
  
webhooks: https://fathomless-fjord-24024.herokuapp.com/notify


